@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"] from
    <address>
        <a href="https://www.udemy.com">www.udemy.com</a>
        who teach this project.</p>
    </address>
<p>Student: @ViewData["Student"]</p>
